<a href="../index.html" title="أكاديمية المنارة" class="ft-logo"><h1><span>أكاديمية المنارة</span></h1></a>

<div class="contact-data">
  <ul>
    <li class="address">
      <a href="https://maps.app.goo.gl/zzQYwrUm75EgZbiy5" target="_blank"
        >36 نفرتيتي - أرض سلطان - المنيا</a
      >
    </li>
    <li class="mobile" dir="ltr">
      <a href="tel:+20100095028">(+2) 0100095028</a> |
      <a href="tel:+20100095034">(+2) 0100095034</a>
    </li>
    <li class="phone" dir="ltr">
      <a href="tel:+20862322221">(+2) 0862322221</a>
    </li>
  </ul>
</div>
<div class="departments">
  <h4>التخصصات</h4>
  <ul>
    <li><a href="../index.html">اللغات الاجنبية</a></li>
    <li><a href="#">علوم الحاسب الآلي</a></li>
  </ul>
</div>
<div class="categories">
  <h4>الاكثر شيوعا</h4>
  <ul>
    <li><a href="#">اللغة الانجليزية</a></li>
    <li><a href="#">اللغة الألمانية</a></li>
    <li><a href="#">التأهيل لاختبار IELTS</a></li>
    <li><a href="../courses/icdl.html">مهارات الحاسب الآلي | ICDL</a></li>
    <li><a href="../courses/python.html">تطوير البرمجيات باستخدام Python</a></li>
    <li><a href="#">المحاسب المالي المحترف | PFA</a></li>
  </ul>
</div>
<p class="copyrights">
  &#169;2024 اكاديمية المنارة الدولية | تطوير
  <a href="#" class="developer">أحمد خبير</a>
</p>
<div class="social-media">
  <a
    href="https://wa.me/+201000095028?text=Hello"
    target="_blank"
    class="whatsapp"
    ><span>WhatsApp</span></a
  >
  <a href="https://m.me/137394639659754" target="_blank" class="messenger"
    ><span>Messenger</span></a
  >
  <a
    href="fb://page/137394639659754"
    onclick="window.open('https://www.facebook.com/137394639659754', '_blank')"
    class="facebook"
    ><span>Facebook</span></a
  >
</div>
