<a href="../index.html" title="أكاديمية المنارة" id="logo"><span>أكاديمية المنارة</span></a>
<nav class="navbar" id="navbar">
  <ul class="nav-menu">
    <!-- <li class="nav-item" id="index"><a href="../index.html" class="nav-link">الرئيسية</a></li>
    <li class="nav-item" id="about"><a href="#" class="nav-link">نبذة عنا</a></li> -->
    <li class="nav-item" id="courses">
      <a href="../index.html" class="nav-link">الدورات التدريبية</a>
    </li>
    <!-- <li class="nav-item" id="offers">
      <a href="#" class="nav-link">المنح والعروض</a>
    </li> -->
  </ul>
</nav>
<div id="header-icons">
  <button id="contact-us" onclick="openPopup()" title="تواصل معنا">
    <span>تواصل معنا</span>
  </button>
  <!-- <button id="search" onclick="openSearch()" title="ابحث في الموقع">
    <span>ابحث في الموقع</span>
  </button> -->
  <button id="menu" onclick="openNavbar()" title="القائمة">
    <span>القائمة</span>
  </button>
</div>
<div id="contacts-window">
  <div class="popup" id="popup">
    <h3>تواصل معنا</h3>
    <button id="close" onclick="closePopup()">اغلاق</button>
    <div id="call">
      <h4>عبر الإتصال</h4>
      <ul>
        <li class="mobile" dir="ltr">
          <a href="tel:+20100095028" title="+201000095028"
            ><span>(+2) 0100095028</span></a
          >
        </li>
        <li class="phone" dir="ltr">
          <a href="tel:+20862322221" title="+20862322221"
            ><span>(+2) 0862322221</span></a
          >
        </li>
        <li class="mobile" dir="ltr">
          <a href="tel:+20100095034" title="+201000095034"
            ><span>(+2) 0100095034</span></a
          >
        </li>
      </ul>
    </div>
    <div id="message">
      <h4>عبر الرسائل</h4>
      <ul>
        <li>
          <a href="sms:+201000095028?body= " class="sms" title="SMS"
            ><span>SMS</span></a
          >
        </li>
        <li>
          <a
            href="https://wa.me/+201000095028?text=Hello"
            target="_blank"
            class="whatsapp"
            title="WhatsApp"
            ><span>WhatsApp</span></a
          >
        </li>
        <li>
          <a
            href="https://m.me/137394639659754"
            target="_blank"
            class="messenger"
            title="Messenger"
            ><span>Messenger</span></a
          >
        </li>
      </ul>
    </div>
  </div>
</div>
<!-- <form action="" class="search-bar" id="search-bar">
  <input type="text" placeholder="ابحث" class="search-field" />
  <button type="button" class="close-search" onclick="closeSearch()">
    <span></span>
  </button>
</form> -->
