<article class="card">
    <a
      href="#"
      title="تطوير برمجيات الحاسب الآلي باستخدام Python"
      class="card-img"
      style="background-image: url('../../assets/images/cards/Django.jpg');"
      ><span>تطوير المواقع باستخدام Django</span></a
    >
    <div class="card-info">
      <a href="#" class="card-title"
        ><h4>تطوير المواقع باستخدام Django</h4></a
      >
      <div class="card-details">
        <p class="level">متوسط</p>
        <p class="hours">70 ساعة</p>
      </div>
    </div>
  </article>