<article class="card">
    <a
      href="#"
      title="اللغة الإنجليزية للأطفال"
      class="card-img"
      style="background-image: url('../../assets/images/cards/English-kids.jpg');"
      ><span>اللغة الإنجليزية للأطفال</span></a
    >
    <div class="card-info">
      <a href="#" class="card-title"
        ><h4>اللغة الإنجليزية للأطفال</h4></a
      >
      <div class="card-details">
        <p class="level">مبتدئ</p>
        <p class="hours">90 ساعة</p>
      </div>
    </div>
  </article>