<article class="card">
    <a
      href="../../courses/icdl.html"
      title="مهارات الحاسب الآلى | ICDL"
      class="card-img"
      style="background-image: url('../../assets/images/cards/ICDL.jpg');"
      ><span>مهارات الحاسب الآلي | ICDL</span></a
    >
    <div class="card-info">
      <a href="../../courses/icdl.html" class="card-title"
        ><h4>مهارات الحاسب الآلي | ICDL</h4></a
      >
      <div class="card-details">
        <p class="level">مبتدئ</p>
        <p class="hours">54 ساعة</p>
      </div>
    </div>
  </article>