<article class="card">
    <a
      href="#"
      title="المحاسب المالي المحترف | PFA"
      class="card-img"
      style="background-image: url('../../assets/images/cards/PFA.jpg');"
      ><span>المحاسب المالي المحترف | PFA</span></a
    >
    <div class="card-info">
      <a href="#" class="card-title"
        ><h4>المحاسب المالي المحترف | PFA</h4></a
      >
      <div class="card-details">
        <p class="level">مبتدئ</p>
        <p class="hours">60 ساعة</p>
      </div>
    </div>
  </article>