<article class="card">
    <a
      href="../../courses/python.html"
      title="تطوير البرمجيات باستخدام Python"
      class="card-img"
      style="background-image: url('../../assets/images/cards/python.jpg');"
      ><span>تطوير البرمجيات باستخدام Python</span></a
    >
    <div class="card-info">
      <a href="../../courses/python.html" class="card-title"
        ><h4>تطوير البرمجيات باستخدام Python</h4></a
      >
      <div class="card-details">
        <p class="level">مبتدئ</p>
        <p class="hours">70 ساعة</p>
      </div>
    </div>
  </article>