@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cairo:wght@200..1000&display=swap');

* {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    box-sizing: border-box;
    color: #222;
    font-family: "Cairo", sans-serif;
}

a {
    text-decoration: none;
}

ul {
    list-style: none;
}

html {
    font-size: 10px;
}

body {
    line-height: 1.5;
    background-color: #F2F2F2;
}

/* ***** Portrait phones ***** */
.container {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    width: 100%;
    overflow-x: hidden;
}

/* ***** Header ***** */
.header {
    position: fixed;
    top: 0;
    z-index: 99;
    height: 6rem;
    width: inherit;
    background-color: #FFF;
    border-bottom: solid 1px #007DC5;
    padding: 0 2rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0px 1px 4px #77777780;
}

#logo,
.footer .ft-logo {
    display: block;
    height: 4rem;
    width: 6.3rem;
    background: url(../images/manara-logo.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    cursor: pointer;
}

#logo span {
    display: none;
}

/* ***** Header icons start ***** */
#header-icons {
    display: flex;
}

#contact-us,
#search,
#menu {
    display: block;
    width: 5rem;
    height: 5rem;
    border-radius: 8px;
    margin-right: 1rem;
    background-color: #F2F2F2;
    background-size: 50%;
    background-position: center;
    background-repeat: no-repeat;
    cursor: pointer;
    transition: background-image 0.5s ease-in-out;
    transition: background-color 0.5s ease-in-out;
}

#contact-us {
    background-image: url("../images/SVGs/contact_us.svg");
}

#search {
    background-image: url("../images/SVGs/magnifier.svg");
}

#menu {
    background-image: url("../images/SVGs/bars.svg");
}

#contact-us:active,
#search:active,
#menu:active {
    background-color: #007DC5;
    background-size: 50%;
}

#contact-us:active {
    background-image: url("../images/SVGs/contact-us-active.svg");
}

#search:active {
    background-image: url("../images/SVGs/magnifier-active.svg");
}

#menu:active {
    background-image: url("../images/SVGs/bars-active.svg")
}

#contact-us span,
#search span,
#menu span {
    display: none;
}

#contacts-window {
    position: fixed;
    top: 0%;
    left: 0%;
    display: none;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
    padding-left: 7%;
    padding-right: 7%;
    background-color: rgba(100, 100, 100, 0.5);
    overflow-y: auto;
    opacity: 0;
    animation: fadeIn 0.5s ease-in-out forwards;
    transition: 0.5s ease-in-out;
}

.popup {
    background-color: #fff;
    border-radius: 4px;
    padding: 1rem 3rem 3rem;
    width: 100%;
    height: fit-content;
    box-shadow: -1px 1px 3px #77777780;
    display: grid;
    grid-gap: 2rem 8rem;
    grid-template-areas:
        "popup-top popup-top"
        "call call"
        "message message"
        "close close";
    justify-content: center;
}

.popup h3 {
    grid-area: popup-top;
    text-align: center;
    font-size: 2rem;
    line-height: 4;
    border-bottom: 1px solid #007DC5;
}

#close {
    grid-area: close;
    background: #FFF;
}

.popup h4 {
    font-size: 1.4rem;
    margin-bottom: 1rem;
}

.popup ul {
    display: flex;
}

#call {
    grid-area: call;
    padding: 1rem;
    text-align: center;
}

#message {
    grid-area: message;
    padding: 1rem;
    text-align: center;
}

.popup li {
    list-style: none;
    display: block;
    height: 5rem;
    width: 5rem;
    margin: 2rem 0 0 2rem;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: 50%;
}

#call li:nth-of-type(1) {
    background-image: url("../images/SVGs/mobile-1.svg");
}

#call li:nth-of-type(2) {
    background-image: url("../images/SVGs/phone.svg");
}

#call li:nth-of-type(3) {
    background-image: url("../images/SVGs/mobile-2.svg");
    margin-left: 0;
}

#message li:nth-of-type(1) {
    background-image: url("../images/SVGs/sms.svg");
}

#message li:nth-of-type(2) {
    background-image: url("../images/SVGs/whatsapp.svg");
}

#message li:nth-of-type(3) {
    background-image: url("../images/SVGs/messenger.svg");
    margin-left: 0;
}

.popup li a {
    font-size: 1rem;
    display: block;
    width: 100%;
    height: 100%;
}

.popup li span {
    display: none;
}

.search-bar {
    position: fixed;
    top: 0%;
    left: 0%;
    background-color: rgba(100, 100, 100, 0.5);
    width: 100%;
    height: 100vh;
    display: none;
    align-items: flex-start;
    justify-content: center;
    padding-top: 20%;
    opacity: 0;
    animation: fadeIn 0.5s ease-in-out forwards;
    transition: 0.5s ease-in-out;
}

.search-field {
    padding: 0 2.4rem;
    height: 7rem;
    width: 80%;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
    background-color: #FFF;
    box-shadow: -1px 1px 3px #77777780;
}

.search-field,
.search-field::placeholder {
    font-size: 1.8rem;
    font-weight: 500;
}

.search-field:placeholder {
    color: #222;
}

.close-search {
    background: #F2F2F2 url("../images/SVGs/xmark.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 60%;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
    box-shadow: -1px 1px 3px #77777780;
    width: 10%;
    height: 7rem;
}

/* ***** Navigation bar Start ***** */
.navbar {
    position: fixed;
    top: 6rem;
    left: 0px;
    z-index: -9999;
    width: 100%;
    height: 100%;
    background-color: #F2F2F2;
    display: none;
    justify-content: center;
    overflow-y: auto;
    transition: 0.3s ease-in-out;
}

.navbar ul {
    list-style-type: none;
    width: 100%;
    height: fit-content;
    padding: 0 7%;
    background-color: #FFF;
    background-size: contain;
    display: flex;
    flex-direction: column;
    align-items: stretch;
}

.navbar ul li {
    border-bottom: 1px solid #007DC5;
    transition: background-color 0.5s ease-in-out;
    transition: border 0.5s ease-in-out;
}

.navbar ul li a {
    display: block;
    text-decoration: none;
    width: 100%;
    padding: 2rem 1rem;
    font-size: 1.6rem;
    font-weight: 600;
    line-height: 1.5;
}

.navbar ul li:active,
.active {
    background: #F2F2F2;
}

/* ***** Navigation bar end ***** */

/* ***** top ***** */
.top {
    margin-top: 6rem;
    width: 100%;
    height: 28rem;
    background-size: cover;
    background-position: 100% 0%;
    background-repeat: no-repeat;
    display: flex;
    align-items: flex-end;
}

.top .page-title {
    width: 48%;
    height: 58%;
    margin-right: 2%;
    margin-bottom: 2%;
    background: rgba(0, 89, 140,0.6);
    display: flex;
    justify-content: center;
    align-items: center;
}

.top .page-title span {
    color: #FFF;
    font-size: 5rem;
    font-weight: 700;
}

.top h2 span:first-child {
    display: block;
}

.top h2 span:last-child {
    display: none;
}

.c-filter {
    width: 100%;
    height: 10rem;
    background-color: #FFF;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    padding: 0 2rem;
}

.c-filter button {
    background-color: #F2F2F2;
    background-repeat: no-repeat;
    background-size: 80%;
    background-position: center;
    height: 4.4rem;
    width: 4.4rem;
    border-radius: 4px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    cursor: pointer;
    transition: background-image 0.5s ease-in-out;
    transition: background-color 0.5s ease-in-out;
}

.c-filter button span {
    font-size: 2rem;
    line-height: 4.4rem;
}

.c-filter button span:hover,
.c-filter button span:active {
    color: #FFF;
}

/* .c-filter button:first-child {
    background-color: #007DC5;
    color: #FFF;
    background-image: url('../images/SVGs/all-active.svg');
} */

.c-filter button:hover,
.c-filter button:active {
    background-color: #007DC5;
    color: #FFF;
}

.c-filter .all {
    background-image: url('../images/SVGs/all.svg');
}

.c-filter .all:hover,
.c-filter .all:active {
    background-image: url('../images/SVGs/all-active.svg');
}

.c-filter .lang {
    background-image: url('../images/SVGs/language.svg');
}

.c-filter .lang:hover,
.c-filter .lang:active {
    background-image: url('../images/SVGs/language-active.svg');
}

.c-filter .computer {
    background-image: url('../images/SVGs/computer.svg');
}

.c-filter .computer:hover,
.c-filter .computer:active {
    background-image: url('../images/SVGs/computer-active.svg');
}

.c-filter button span {
    display: none;
}

.fade-out {
    animation: fadeOut 0.5s ease-in-out forwards;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@keyframes fadeOut {
    from {
        opacity: 1;
    }

    to {
        opacity: 0;
    }
}

/* ----- Footer -----*/
.footer {
    width: 100%;
    background-color: #00598C;
    padding: 2.6rem 2rem 1.4rem;
    margin-top: 4.5rem;
    font-size: 1.3rem;
    display: grid;
    align-items: start;
    gap: 3rem 1rem;
    grid-template-areas: "logo logo"
        "contact-data social-media"
        "departments categories"
        "copyrights copyrights";
    grid-template-columns: 2fr 1fr;
}

.footer .ft-logo {
    grid-area: logo;
    display: block;
    order: 1;
    align-self: start;
    margin-left: auto;
    flex-shrink: 0;
}

.footer .ft-logo span {
    display: none;
}

.footer .contact-data {
    grid-area: contact-data;
}

.footer .contact-data li {
    display: block;
    height: 3rem;
    line-height: 3rem;
    width: 100%;
    padding-right: 3rem;
    background-repeat: no-repeat;
    background-size: 2.4rem;
    background-position: 100% 50%;
    color: #FFF;
}

.footer .contact-data li a {
    text-decoration: none;
    color: #FFF;
}

.footer .contact-data .address {
    background-image: url("../images/SVGs/location.svg");
}

.footer .contact-data .mobile {
    background-image: url("../images/SVGs/mobile-ft.svg");
}

.footer .contact-data .phone {
    background-image: url("../images/SVGs/phone-ft.svg");
}

.footer .departments {
    grid-area: departments;
}

.footer .categories {
    grid-area: categories;
}

.footer .departments h4,
.footer .categories h4 {
    font-size: 1.4rem;
    color: #FFF;
    margin-bottom: 0.8rem;
}

.footer .departments ul,
.footer .categories ul {
    list-style: none;
}

.footer .departments a,
.footer .categories a {
    display: inline-block;
    color: #FFF;
    text-decoration: none;
    height: 2.4rem;
}

.footer .social-media {
    display: flex;
    grid-area: social-media;

}

.footer .social-media a {
    margin-left: 1.8rem;
    display: block;
    height: 2.6rem;
    width: 2.6rem;
    background-repeat: no-repeat;
    background-size: contain;
}

.footer .social-media a span {
    display: none;
}

.footer .social-media .facebook {
    background-image: url("../images/SVGs/facebook.svg");
}

.footer .social-media .messenger {
    background-image: url("../images/SVGs/messenger-ft.svg");
}

.footer .social-media .whatsapp {
    background-image: url("../images/SVGs/whatsapp-ft.svg");
}

.footer .copyrights {
    grid-area: copyrights;
    border-top: solid 1px #007DC5;
    padding-top: 1.4rem;
    color: #FFF;
}

.footer .copyrights a {
    color: #FFF;
    text-decoration: none;
}


/* ***** Small Portrait Phones ***** */
@media screen and (max-width: 430px) {
    html {
        font-size: 8px;
    }

    .header {
        height: 8rem;
    }

    .search-bar {
        padding-top: 30%;
    }

    .close-search {
        width: 16%;
    }

    .navbar {
        top: 8rem;
    }

    .navbar ul li a {
        font-size: 1.7rem;
    }

    .top {
        margin-top: 8rem;
    }

    .top .page-title span {
        font-size: 4rem;
    }

    .c-filter {
        height: auto;
        padding: 4rem;
        justify-content: center;
        align-items: center;
        column-gap: 5rem;
    }

    .c-filter button {
        font-size: 2.4rem;
        height: 5rem;
        width: 5rem;  
    }
}

/* ***** Landscape phones ***** */
@media screen and (min-width: 576px) {

    .header {
        height: 8rem;
        padding: 0 2.4rem;
    }

    .navbar {
        top: 8rem;
    }

    .popup {
        column-gap: 3rem;
        grid-template-areas:
            "popup-top popup-top"
            "call message"
            ". close";
    }

    .top {
        margin-top: 8rem;
    }

    .top .page-title span {
        font-size: 5.6rem;
    }

    .top h2 span:first-child {
        display: none;
    }

    .top h2 span:last-child {
        display: block;
    }

    .c-filter {
        padding: 0 2.4rem;
    }

    .c-filter button {
        font-size: 1.6rem;
        padding: 1.2rem 1.6rem;
    }

    .footer {
        padding: 3rem 2.4rem 1.4rem;
    }
}

/* ***** Tablets ***** */
@media screen and (min-width: 768px) {

    .header {
        padding: 0 3rem;
    }

    .navbar ul li a {
        padding: 2rem 0.5rem;
    }

    #close {
        text-align: left;
    }

    .search-bar {
        padding-top: 12%;
    }

    .top {
        height: 48.5rem;
    }

    .top .page-title span {
        font-size: 6rem;
    }

    .c-filter {
        padding: 0 3rem;
        justify-content: center;
    }

    .c-filter button {
        margin-left: 2rem;
        font-size: 1.6rem;
        padding: 1.4rem 2rem;
    }

    .footer {
        padding: 3.6rem 3rem 1.4rem;
        grid-template-areas: "logo logo logo logo"
            "contact-data departments categories social-media"
            "copyrights copyrights copyrights copyrights";
    }
}

/* ***** Laptops ***** */
@media screen and (min-width: 992px) {

    .header {
        justify-content: flex-end;
        align-items: center;
        height: 5.3rem;
        padding: 0 3.4rem;
        border-bottom: 0;
    }

    .navbar {
        position: static;
        width: 100%;
        margin-right: auto;
        margin-left: 2rems;
        display: flex;
        justify-content: flex-end;
    }

    .navbar ul {
        flex-direction: row;
        justify-content: flex-end;
    }

    .navbar ul li {
        border-bottom: 4px solid #FFF;
        margin-left: 4px;
    }

    .navbar ul li:hover,
    .navbar ul li:active,
    .active {
        background: #F2F2F2;
        border-bottom: 4px solid #007DC5;
    }

    .navbar ul li a {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 12rem;
        height: 4.7rem;
        padding: 0;
        font-size: 1.5rem;
        line-height: 1.3;
        transition: color 0.5s ease-in-out;
    }

    #menu {
        display: none;
    }

    #contact-us,
    #search {
        width: 4.7rem;
        height: 4.7rem;
    }

    #contact-us:hover,
    #contact-us:active,
    #search:hover,
    #search:active {
        background-color: #007DC5;
    }

    #contact-us:hover,
    #contact-us:active {
        background-image: url("../images/SVGs/contact-us-active.svg");
    }

    #search:hover,
    #search:active {
        background-image: url("../images/SVGs/magnifier-active.svg");
    }

    .search-bar {
        padding-top: 10%;
    }

    .close-search {
        width: 7%;
    }

    .top {
        margin-top: 5.3rem;
        height: 54rem;
    }

    .top .page-title {
        height: 48%;
    }

    .top .page-title span {
        font-size: 6rem;
    }

    .top h2 span:first-child {
        display: none;
    }

    .top h2 span:last-child {
        display: block;
    }

    .c-filter {
        padding: 0 3.4rem;
        height: 12rem;
    }

    .c-filter button {
        margin-left: 3rem;
        font-size: 2rem;
        padding-right: 5.4rem;
        height: 4rem;
        width: auto;
        background-size: auto 90%;
        background-position: 96%;
    }

    .c-filter button span {
        display: block;
    }

    .footer {
        padding: 3.6rem 3.4rem 1.4rem;
        margin-top: 6rem;
    }
}

/* ***** Laptops and Desktops ***** */
@media screen and (min-width: 1200px) {

    .header {
        padding: 0 5rem;
    }

    .navbar ul li a {
        width: 13rem;
    }

    .top .page-title {
        height: 49%;
        margin-right: 1%;
        margin-bottom: 1%;
    }

    .top .page-title span {
        font-size: 7rem;
    }

    .c-filter {
        padding: 0 5rem;
    }

    .footer {
        margin-top: 7rem;
        padding: 3.6rem 5rem 1rem;
    }
}

/* ***** Large Laptops and Desktops ***** */
@media screen and (min-width: 1400px) {

    .container {
        max-width: 1600px;
        margin: 0 auto;
    }

    .header {
        max-width: 1600px;
    }



    .navbar ul li a {
        width: 11.6rem;
    }

    .top .page-title {
        width: 44%;
    }

    .footer {
        padding: 4rem 5rem 1.4rem;
    }
}
